<!DOCTYPE html>
<html>
<head>
  <title>Iteasykit</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "iteasykit/application", media: "all" %>
  <%= javascript_include_tag "iteasykit/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
