<p id="notice"><%= notice %></p>

<p>
  <strong>Iteasykit entity type:</strong>
  <%= @form.iteasykit_entity_type %>
</p>

<p>
  <strong>Active:</strong>
  <%= @form.active %>
</p>

<p>
  <strong>Sticky:</strong>
  <%= @form.sticky %>
</p>

<p>
  <strong>Position:</strong>
  <%= @form.position %>
</p>

<p>
  <strong>Group:</strong>
  <%= @form.group %>
</p>

<p>
  <strong>Machine name:</strong>
  <%= @form.machine_name %>
</p>

<p>
  <strong>Iteasykit seomore:</strong>
  <%= @form.iteasykit_seomore %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @form.slug %>
</p>

<p>
  <strong>Calc:</strong>
  <%= @form.calc %>
</p>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
