<% content_for :entity_title do %><%= t('editing_menu') %> - <%= @menu.name %>
<% end %>

<% content_for :pull_right do %>
  <%= link_to '<i class="zmdi zmdi-long-arrow-return zmdi-hc-fw"></i>'.html_safe, admin_menus_path %>
<% end %>
<p><%= t(:control_menu) %></p>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-8">
      <div class="content-box">
        <div class="head head-border danger-color">
          <h5 class="content-title danger-color"><%= t('list_menu_items') %>
            <a class="fullscreen-btn" href="#"><i class="zmdi zmdi-fullscreen"></i></a></h5>


        </div>

        <div class="content">

          <div class="content-box">
            <div class="head primary-bg clearfix">
              <h5 class="content-title pull-left"><%= t('add_new_item_menu') %></h5>
              <div class="functions-btns pull-right">
                <a class="collapse-btn" href="#"><i class="zmdi zmdi-plus"></i></a>
              </div>
            </div>

            <div class="content" style="display:none;">
              <div class="row">
                <div class="col-md-12">
                 <%= render 'form_item', locals: @menu_item %>

                </div>
              </div>
            </div>
          </div>

          <%= render_sortable_tree(@items, {name_method: :name, sort_url: sort_admin_menu_items_url, max_levels: 5, sorting_attribute: 'position', controls_partial: 'controls'}) %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="content-box">
        <div class="head head-border danger-color">
          <h5 class="content-title danger-color"><%= t('editing_menu') %></h5>
        </div>

        <div class="content">
          <%= render 'form', menu: @menu %>
        </div>
      </div>

    </div>
  </div>
</div>