
<div class="row">
  <%= form_with(model: [:admin, block], local: true, multipart: true) do |form| %>
    <% if block.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(block.errors.count, "error") %> prohibited this entity from being saved:</h2>

        <ul>
          <% block.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="col-md-8">      <% if @entity_type %>
      <div class="content-box">
        <div class="head head-border warning-color">
          <h5 class="content-title warning-color"><%= t('field_and_objects') %></h5>
        </div>

        <div class="content">

          <%= render 'iteasykit/shared/fields/field_list', locals: [@entity_type, @object = @block] %>

        </div>
      </div>
      <% end %>

      <div class="content-box">
        <div class="head head-border warning-color">
          <h5 class="content-title warning-color"><%= t('visible_block') %>:</h5>
        </div>

        <div class="content">

          <div class="form-group">
            <label class="control-label"><%= t('type_url') %></label>

            <%= form.select(:type_url, ['none', 'only', 'except'],
                            {include_blank: false}, class: "form-control input-sm input-warning") %>
            <span class="help-block"><small></small></span>
          </div>

          <div class="form-group">
            <label class="control-label"><%= t('url_list') %></label>
            <%= form.text_area :url, class: "form-control input-sm" %>
            <span class="help-block"><small></small></span>
          </div>

          <div class="form-group">
            <label class="control-label"><%= t('type_entity_type') %></label>
            <%= form.select(:etl_type, ['none', 'only', 'except'],
                            {include_blank: false}, class: "form-control input-sm input-warning") %>
            <span class="help-block"><small></small></span>
          </div>

          <div class="form-group">
            <label class="control-label"><%= t('entity_type_lists') %></label>
            <%= form.text_area :entity_type_lists, class: "form-control input-sm" %>
            <span class="help-block"><small></small></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="content-box">
        <div class="head head-border warning-color">
          <h5 class="content-title warning-color"><%= t('settings') %></h5>
        </div>

        <div class="content">

          <div class="form-group">
            <label class="control-label"><%= t('admin_name') %></label>
            <%= form.text_field :admin_name, class: "form-control input-sm" %>
            <span class="help-block"><small></small></span>
          </div>
          <div class="form-group">
            <label class="control-label"><%= t('admin_description') %></label>
            <%= form.text_area :description_admin, class: "form-control input-sm" %>
            <span class="help-block"><small></small></span>
          </div>
          <div class="form-group">
            <label class="control-label"><%= t('region') %></label>
            <%= form.select(:region, theme_setting['regions'].map {|et| [et[1], et[0]]},
                            {include_blank: true}, class: "form-control input-sm input-warning") %>
            <span class="help-block"><small></small></span>
          </div>
          <div class="form-group">
            <label class="control-label"><%= t('entity_type') %></label>
            <%= form.select(:iteasykit_entity_type_id, Iteasykit::EntityType.where(rel_model: 'Block').map {|et| [et.name, et.id]},
                            {include_blank: true}, class: "form-control input-sm input-warning") %>
            <span class="help-block"><small><%= t('no_edit') %></small></span>
          </div>
          <div class="form-group">
            <label class="control-label"><%= t('machine_name') %></label>
            <%= form.text_field :machine_name, class: "form-control input-sm" %>
            <span class="help-block"><small><%= t('machine_name_for_theme') %></small></span>
          </div>
          <div class="form-group">
            <label class="control-label"><%= t('position') %></label>
            <%= form.number_field :position, class: "form-control input-sm" %>
            <span class="help-block"><small></small></span>
          </div>
          <div class="form-group">
            <label class="control-label"><%= t('element') %></label>
            <%= form.text_field :elementcls, class: "form-control input-sm" %>
            <span class="help-block"><small></small></span>
          </div>
          <div class="form-group">
          <label class="control-label"><%= t('id') %></label>
          <%= form.text_field :idcls, class: "form-control input-sm" %>
          <span class="help-block"><small></small></span>
        </div>
          <div class="form-group">
            <label class="control-label"><%= t('class') %></label>
            <%= form.text_field :csscls, class: "form-control input-sm" %>
            <span class="help-block"><small></small></span>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label warning-color">
                  <%= t('active') %>
                  <%= form.check_box :active, class: "toggle toggle-success" %>
                  <i></i>
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label warning-color">
                  <%= t('system') %>
                  <%= form.check_box :system, class: "toggle toggle-success" %>
                  <i></i>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions"  style="position: fixed;bottom: 0px;right: 0px;" >
      <%= form.submit 'Save', class: "btn-success btn-lg"%>
    </div>
  <% end %>


</div>
<% if @entity_type.relation? %>
<% unless @object_list.nil? %>
  <div class="content-box">
    <div class="head head-border warning-color">
      <h5 class="content-title warning-color"><%= t('relation_cells') %></h5>
    </div>

    <div class="content">
      <% Iteasykit::EntityType.where(rel_model: 'Cell').each do |cet| %>
        <%= link_to "New "+cet.name, "", class: "btn btn-info waves-effect",
                    'data-toggle'=>"modal", 'data-target'=>"#modal-largenew#{cet.id}" %>
        <div class="modal fade" id="modal-largenew<%=cet.id %>" role="dialog" aria-hidden="true">
          <%= render 'iteasykit/admin/cells/popup_form', locals: [@entity_type=cet, @cell = Iteasykit::Cell.new, @objectrel=@block] %>
        </div>
      <% end %>
<br>
<br>
      <%= render 'iteasykit/admin/cells/rel_list_objects', locals: [@object_list, ] %>
    </div>
  </div>
<% end %>
<% end %>