<p id="notice"><%= notice %></p>

<p>
  <strong>Admin name:</strong>
  <%= @block.admin_name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @block.region %>
</p>

<p>
  <strong>Type url:</strong>
  <%= @block.type_url %>
</p>

<p>
  <strong>Url:</strong>
  <%= @block.url %>
</p>

<p>
  <strong>Etl type:</strong>
  <%= @block.etl_type %>
</p>

<p>
  <strong>Entity type lists:</strong>
  <%= @block.entity_type_lists %>
</p>

<p>
  <strong>Description admin:</strong>
  <%= @block.description_admin %>
</p>

<p>
  <strong>Machine name:</strong>
  <%= @block.machine_name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @block.active %>
</p>

<p>
  <strong>Position:</strong>
  <%= @block.position %>
</p>

<p>
  <strong>System:</strong>
  <%= @block.system %>
</p>

<p>
  <strong>Iteasykit entity type:</strong>
  <%= @block.iteasykit_entity_type %>
</p>

<p>
  <strong>Elementcls:</strong>
  <%= @block.elementcls %>
</p>

<p>
  <strong>Idcls:</strong>
  <%= @block.idcls %>
</p>

<p>
  <strong>Csscls:</strong>
  <%= @block.csscls %>
</p>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
