
  <p><%= t(:help_list_entity) %></p>

  <table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
      <th><%= t('name') %></th>
  
      <th>Создано</th>
      <th><%= t('active') %></th>
      <% Iteasykit::EntityType.find(params[:id]).fcis.each do |fci| %>
      <th><%= fci.name %></th>
    <% end %>
      <th><%= t('action') %></th>
    </tr>
    </thead>
  
    <tbody>
    <% @object_list.order('created_at DESC').each do |form| %>
      <tr>
        <td><%= form.iteasykit_entity_type.name %></td>
        <td><%= form.created_at %></td>
        <td><i class="zmdi zmdi-<%= form.active ? 'check' : 'close' %>"></i></td>
        <% form.iteasykit_entity_type.fcis.each do |fci| %>
          <td><%= form.field(fci.machine_name)[0..100] %></td>
        <% end %>
        <td class="text-center">
          <%= link_to '<i class="zmdi zmdi-edit"></i>'.html_safe, edit_admin_form_path(form),
                      class: "btn btn-success raised icon waves-effect" %>
        <%= link_to '<i class="zmdi zmdi-delete"></i>'.html_safe, [:admin, form], method: :delete, data: { confirm: 'Are you sure?' },
                    class: "btn btn-danger raised icon waves-effect" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>