<% content_for :entity_title do %><%= t('add_new') %> - <%= @entity_type.name %>
<% end %>
<% content_for :pull_right do %>

<% end %>
<%= render 'iteasykit/shared/admin/type_tabs', locals: [@obj_current = @form] %>
<p><%= t(:add_new_form) %></p>
<%= render 'form', formt: @form %>
