<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fci.name %>
</p>

<p>
  <strong>Help:</strong>
  <%= @fci.help %>
</p>

<p>
  <strong>Placeholder:</strong>
  <%= @fci.placeholder %>
</p>

<p>
  <strong>Value:</strong>
  <%= @fci.value %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @fci.prefix %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @fci.suffix %>
</p>

<p>
  <strong>Elementcls:</strong>
  <%= @fci.elementcls %>
</p>

<p>
  <strong>Idcls:</strong>
  <%= @fci.idcls %>
</p>

<p>
  <strong>Classcls:</strong>
  <%= @fci.classcls %>
</p>

<p>
  <strong>Machine name:</strong>
  <%= @fci.machine_name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @fci.active %>
</p>

<p>
  <strong>Is required:</strong>
  <%= @fci.is_required %>
</p>

<p>
  <strong>Position:</strong>
  <%= @fci.position %>
</p>

<p>
  <strong>Is filter:</strong>
  <%= @fci.is_filter %>
</p>

<p>
  <strong>Is multi:</strong>
  <%= @fci.is_multi %>
</p>

<p>
  <strong>Fciable type:</strong>
  <%= @fci.fciable_type %>
</p>

<p>
  <strong>Fciable:</strong>
  <%= @fci.fciable_id %>
</p>

<%= link_to 'Edit', edit_fci_path(@fci) %> |
<%= link_to 'Back', fcis_path %>
